<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Sistema da Empresa</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
 
<body>
 
    <div class="centralizar-pagina">
 
<div class="home-container">
    <h1>Sistema da Empresa</h1>
    <p>Bem-vindo ao sistema de gestão da Fogaréu Clothes</p>
 
    <div class="botoes">
        <a href="/login" class="btn-login">Fazer Login</a>
        <a href="/cadastro" class="btn-cadastro">Cadastrar Usuário</a>
    </div>
 
</div>
 
</body>
</html>
 